:root {
    /* colors */
    --primary: hsl(47, 88%, 63%);
    --gray500: hsl(0, 0%, 42%);
    --gray950: hsl(0, 0%, 7%);
    --white: hsl(0, 0%, 100%);

    /* spacing */
    --space50: 0.25rem;
    --space100: 0.5rem;
    --space150: 0.75rem;
    --space300: 1.25rem;

    --radius: 1rem;
}

body {
    min-height: 100vh;
    display: grid;
    place-content: center;
    background-color: var(--primary);
}

.card {
    max-width: 314px;
    border: 1px solid var(--gray950);
    border-radius: var(--radius);
    background-color: var(--white);
    padding: var(--space300);
}
